<div class="actions">
  <%= Event.send("#{event_type.pluralize}").by_date(@current.to_s).size %> today

  <%= form_for Event.new,:html => { :id=> "x_#{event_type}_form" } do |f| %>
    <%= f.hidden_field :event_type, :value => event_type %>
    <%= f.submit event_type.titleize %>
  <% end %>
</div>
